<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<div class="headerTop">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
			<div class="header-fields">
				<div class="basicInfoBox">
					<div class="leftBox">
						<div class="discriptor">Name</div>
						<div class="discriptor">Species/Archtype</div>
						<div class="discriptor">Career</div>
						<div class="discriptor">Player</div>
					</div>
					<div class="rightBox">
						<div class="basicInfo"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></div>
						<div class="basicInfo"><input name="data.basic.speciesArchtype" type="text" value="{{data.basic.speciesArchtype}}" placeholder="Species/Archtype" data-dtype="Text"/></div>
						<div class="basicInfo"><input name="data.basic.career" type="text" value="{{data.basic.career}}" placeholder="career" data-dtype="Text"/></div>
						<div class="basicInfo"><input name="data.basic.playername" type="text" value="{{data.basic.playername}}" placeholder="playername" data-dtype="Text"/></div>
					</div>
				</div>
			</div>
		</div>
		<div class="headerBottom">
			<div class="resourceBox">

				<div class="resource">

					<label>Soak </label>

					<div class="top">
						<input type="number" name="data.soak.value" value="{{data.soak.value}}" min="0"data-dtype="Number"/>
					</div>
					<div class="bottom">
					</br>
				</div>

			</div>


			<div class="resource">
				<label>Wounds </label>

				<div class="top">
					<input type="number" name="data.wounds.value" value="{{data.wounds.value}}" min="0"data-dtype="Number"/>
					<input type="number" name="data.wounds.max" value="{{data.wounds.max}}" min="0"data-dtype="Number"/>
				</div>

				<div class="bottom">
					<label> Current</label>
					<label> Treshold  </label>

				</div>



			</div>
			<div class="resource">
				<label>Strain </label>

				<div class="top">
					<input type="number" name="data.strain.value" value="{{data.strain.value}}" min="0"data-dtype="Number"/>
					<input type="number" name="data.strain.max" value="{{data.strain.max}}" min="0"data-dtype="Number"/>
				</div>

				<div class="bottom">
					<label>Current </label>
					<label>Treshold </label>
				</div>


			</div>

			<div class="resource">
				<label> Defence</label>

				<div class="top">
					<input type="number" name="data.defence.ranged" value="{{data.defence.ranged}}" min="0"data-dtype="Number"/>
					<input type="number" name="data.defence.melee" value="{{data.defence.melee}}" min="0"data-dtype="Number"/>

				</div>

				<div class="bottom">
					<label> Ranged </label>
					<label> Melee </label>
				</div>


			</div>

		</div>
	</div>

	<div class="characteristics">
		<div class="singleCharacteristics">
			<input type="number" name="data.characteristics.brawn.value" value="{{data.characteristics.brawn.value}}" min="0"data-dtype="Number"/>
			<p class="descriptor">Brawn</p>
		</div>
		<div class="singleCharacteristics">
			<input type="number" name="data.characteristics.agility.value" value="{{data.characteristics.agility.value}}" min="0"data-dtype="Number"/>
			<p class="descriptor">Agility</p>
		</div>
		<div class="singleCharacteristics">
			<input type="number" name="data.characteristics.intellect.value" value="{{data.characteristics.intellect.value}}" min="0"data-dtype="Number"/>
			<p class="descriptor">Intellect</p>
		</div>
		<div class="singleCharacteristics">
			<input type="number" name="data.characteristics.cunning.value" value="{{data.characteristics.cunning.value}}" min="0"data-dtype="Number"/>
			<p class="descriptor">Cunning</p>
		</div>
		<div class="singleCharacteristics">
			<input type="number" name="data.characteristics.willpower.value" value="{{data.characteristics.willpower.value}}" min="0"data-dtype="Number"/>
			<p class="descriptor">Willpower</p>
		</div>
		<div class="singleCharacteristics">
			<input type="number" name="data.characteristics.presence.value" value="{{data.characteristics.presence.value}}" min="0" min="0"data-dtype="Number"/>
			<p class="descriptor">Presence</p>
		</div>
	</div>
	<div class="exp">
		<div class="subExp">
			<input type="number" name="data.totalExperience" value="{{data.totalExperience}}" min="0"data-dtype="Number"/>
			<p class="descriptor">Total Experience</p>
		</div>
		<div class="subExp">
			<input type="number" name="data.experience" value="{{data.experience}}" min="0"data-dtype="Number"/>
			<p class="descriptor">Current Experience</p>
		</div>
	
	
	</div>
</header>
{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
	<a class="item" data-tab="skills">Skills</a>
	<a class="item" data-tab="talents">Talents</a>
	<a class="item" data-tab="biogragphy">Bio</a>
	<a class="item" data-tab="injuries">Injuries</a>
	<a class="item" data-tab="items">Equipment</a>
	<a class="item" data-tab="note">Notes</a>
</nav>
{{!-- Sheet Body --}}
<section class="sheet-body">
	{{!-- Skill Tab--}}
	<div  class="tab skills"  data-group="primary"  data-tab="skills">



		<table>

			<tr>
				<th class="firstCellUpper">Skill</th>
				<th class="secondCell">Setting</th>
				<th class="thirdCell">Career</th>
				<th class="fourthCell"> Rank</th>
			</tr>




			{{#each data.skills as |skill id|}}
			<tr>
				<td class="firstCell">
					{{label}}({{characteristic}})
				</td>
				<td class="secondCell">
					<input type="checkbox" class="CellSetting" name="data.skills.{{id}}.setting" {{checked skill.setting}}/>
				</td>
				<td class="thirdCell">
					<input type="checkbox" class="CellCareer" name="data.skills.{{id}}.career" {{checked skill.career}} />
				</td>
				<td class="fourthCell">
					<input name="data.skills.{{id}}.value" value="{{skill.value}}" type="range" min="0" max="5" min="0"data-dtype="Number" placeholder="0" />
				</td>
			</tr>
			{{/each}}
			{{#each data.customSkils as |customSkil cId|}}
			<tr>
				<td class="firstCell">
					<input type="text" name="data.customSkils.{{cId}}.label"  value="{{customSkil.label}}" placeholder="{{customSkils.label}}" data-dtype="String" />
				</td>
				<td class="secondCell">
					<input type="checkbox" class="CellSetting" name="data.customSkils.{{cId}}.setting" {{checked customSkil.setting}}/>
				</td>
				<td class="thirdCell">
					<input type="checkbox" class="CellCareer" name="data.customSkils.{{cId}}.career" {{checked customSkil.career}} />
				</td>
				<td class="fourthCell">
					<input name="data.customSkils.{{cId}}.value" value="{{customSkil.value}}" type="range" min="0" max="5" min="0"data-dtype="Number" placeholder="0" />
				</td>
			</tr>
			{{/each}} 
		</table>
	</div>
	{{!-- Talents Tab --}}
	<div class="tab talents" data-group="primary" data-tab="talents">
		<ol class="items-list">
			{{#each actor.talent as |item id|}}
			<li class="item flexrow" data-item-id="{{item._id}}">
				<img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
				<h4 class="item-name">{{item.name}}</h4>
				<div class="item-controls">
					<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
					<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				</div>
			</li>
			{{/each}}
		</ol>


	</div>
	{{!-- Biogragphy Tab --}}
	<div class="tab biogragphy" data-group="primary" data-tab="biogragphy">
		<div class="bioBox">
			<div class="charInfo">
				<div class="charInfoSub">
					<div class="row">
						<label>Gender</label>
						<input type="text" name="data.description.gender" value="{{data.description.gender}}"  data-dtype="Text"  />
					</div>
					<div class="row">
						<label>Age</label>
						<input type="text" name="data.description.age" value="{{data.description.age}}"  data-dtype="Text"  />
					</div>
					<div class="row">
						<label>Height</label>
						<input type="text" name="data.description.height" value="{{data.description.height}}"  data-dtype="Text"  />
					</div>
				</div>
				<div class="charInfoSub">
					<div class="row">
						<label>Hair</label>	
						<input type="text" name="data.description.hair" value="{{data.description.hair}}"  data-dtype="Text"  />
					</div>
					<div class="row">
						<label>Eyes</label>	
						<input type="text" name="data.description.eyes" value="{{data.description.eyes}}"  data-dtype="Text"  />
					</div>
					<div class="row">

						<label>Notable</label>
						<input type="text" name="data.description.notable" value="{{data.description.notable}}"  data-dtype="Text"  />
					</div>
				</div>
			</div>
			<div class="outerBox">
				<div class="box">
					<label> Strength</label>
					<textarea class="strength" rows="4" cols="50" name="data.bioStrength">{{data.bioStrength}}</textarea>
				</div>
				<div class="box">
					<label> Flaw</label>
					<textarea class="flaw" rows="4" cols="50" name="data.bioFlaw" > {{data.bioFlaw}}</textarea>
				</div>
			</div>
			<div class="outerBox">
				<div class="box">
					<label>Desire</label>
					<textarea class="desire" rows="4" cols="50" name="data.bioDesire">{{data.bioDesire}}</textarea>
				</div>
				<div class="box">
					<label> Fear</label>
					<textarea class="fear" rows="4" cols="50" name="data.bioFear" >{{data.bioDesire}}</textarea>
				</div>
			</div>
			<div class="row">
				<label>Name</label> <input class="heroicInput" type="text" name="data.heroicAbility.name" value="{{data.heroicAbility.name}}" data-dtype="Text">
				</div>
				<div class="row">
					<label>Origin</label> <input class="heroicInput" type="text" name="data.heroicAbility.origin" value="{{data.heroicAbility.origin}}" data-dtype="Text"> 
					</div>
					<div class="row">
						<label>Primary Effect</label> <input class="heroicInput" type="text" name="data.heroicAbility.primaryEffect" value="{{data.heroicAbility.primaryEffect}}" data-dtype="Text"> 
						</div>
						<div class="row">
							<label>Upgrade</label> <input class="heroicInput" type="text" name="data.heroicAbility.upgrade" value="{{data.heroicAbility.upgrade}}" data-dtype="Text"> 
							</div>
							<div class="footer">
								<div class="row">
									<label>Total Ability Points</label> <input class="heroicInput" type="text" name="data.heroicAbility.totalAp" value="{{data.heroicAbility.totalAp}}" min="0"data-dtype="Number"> 
									</div>
									<div class="row">
										<label>Available Abilty Points</label> <input class="heroicInput" type="text" name="data.heroicAbility.availableAp" value="{{data.heroicAbility.availableAp}}" min="0"data-dtype="Number">
										</div>
									</div>
								</div>
							</div>
							{{!-- Injuries Tab --}}	
							<div class="tab injuries" data-group="primary" data-tab="injuries">

								<ol class="items-list">
									{{#each actor.injury as |item id|}}
									test
									<li class="item flexrow" data-item-id="{{item._id}}">
										<img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
										<h4 class="item-name">{{item.name}}</h4>
										<div class="item-controls">
											<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
											<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
										</div>
									</li>

									{{/each}}
								</ol>

							</div>

							{{!-- Owned Items Tab --}}
							<div class="tab items" data-group="primary" data-tab="items">

							<label>Money</label> <input type="number" class="money" name="data.money" value="{{data.money}}" min="0"data-dtype="Number"> 
									
									
											gear
											<ol class="items-list">
												{{#each actor.gear as |item id|}}
												<li class="item flexrow" data-item-id="{{item._id}}">
													<img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
													<h4 class="item-name">{{item.name}}</h4>
													<div class="item-controls">
														<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
														<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
													</div>
												</li>
												{{/each}}
											</ol>
										
									
								</div>
								{{!-- Notes Tab --}}
								<div class="tab notes" data-group="primary" data-tab="note">
									{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
								</div>
							</section>
						</form>
						