<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="diceRoller-header">
      <label>DICE ROLLER</label>  
    </header>


    <section class="diceRoller-body">
            <div class="rollerBox">
                <div class="flex-row">
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_left.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/boost.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_right.svg"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_left.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/ability.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_right.svg"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_left.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/proficiency.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_right.svg"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_left.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/setback.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_right.svg"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_left.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/difficulty.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_right.svg"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_left.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/challenge.svg"></div>
                    <div class="flex-col"><img src="/systems/genesys/resources/arrow_right.svg"></div>
                </div>

            </div>


    </section>
</form>

