<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="diceRoller-header">
      <label>DICE ROLLER</label>  
    </header>


    <section class="diceRoller-body">
            <div class="rollerBox">
                <div class="flex-row">
                    <div class="flex-col"></div>
                    <div class="flex-col"><input type="number" name="boost" id="boost" min="0" value="1"></div>
                    <div class="flex-col"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"></div>
                    <div class="flex-col"><input type="number" name="ability" id="ability" min="0" value="1"></div>
                    <div class="flex-col"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"></div>
                    <div class="flex-col"><input type="number" name="proficency" id="proficency" min="0" value="0"></div>
                    <div class="flex-col"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"></div>
                    <div class="flex-col"><input type="number" name="setback" id="setback" min="0" value="0"></div>
                    <div class="flex-col"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"></div>
                    <div class="flex-col"><input type="number" name="difficulty" id="difficulty" min="0" value="0"></div>
                    <div class="flex-col"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"></div>
                    <div class="flex-col"><input type="number" name="challenge" id="challenge" min="0" value="0"></div>
                    <div class="flex-col"></div>
                </div>
                <div class="flex-row">
                    <div class="flex-col"></div>
                    <div class="flex-col"><a class="button">	<div><label>INITIATIVE</label></div></a></div>
                    <div class="flex-col"></div>
                </div>

            </div>
    </section>
</form>

