<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>

        </div>
    </header>
    <section class="sheet-body">


			<input name="data.gear.rarity" type="text" value="{{data.gear.rarity}}" placeholder="rarity"/>
			<input name="data.gear.price" type="text" value="{{data.gear.price}}" placeholder="price"/>
			<input name="data.gear.encumbrance" type="text" value="{{data.gear.encumbrance}}" placeholder="encumbrance"/>
        </div>
    </section>
</form>

