<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>

        </div>
    </header>


    <section class="sheet-body">
			<input name="data.injury.severity" type="number" value="{{data.injury.severity}}" placeholder="rarity"/>
			<input name="data.injury.description" type="text" value="{{data.injury.description}}" placeholder="rarity"/>
    </section>
</form>

