<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </div>
    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-body">

       <input name="item.talent.active" type="checkbox" value="{{item.talent.active}}" placeholder="Name"/>
	   <input name="item.talent.tier" type="text" value="{{item.talent.tier}}" placeholder="Name"/>
	   <input name="item.talent.page" type="text" value="{{item.talent.page}}" placeholder="Name"/>
    </section>
</form>
