<form class="{{cssClass}}" autocomplete="off">
	<header class="item-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		<div class="header-fields">
			<input class="title" name="name" type="text" value="{{item.name}}" placeholder="Name"/>

		</div>
	</header>
	{{!-- Sheet Body --}}
	<section class="item-body">

		<div class="itemBox">
			<div class="row">
				<label>SKILL</label>
				<input name="data.weapon.skill" type="text" value="{{data.weapon.skill}}" placeholder="skill" min="0" data-dtype="String"/>
			</div>
			<div class="row">
				<label>DAMAGE</label>
				<input name="data.weapon.damage" type="number" value="{{data.weapon.damage}}" placeholder="damage "min="0" data-dtype="Number"/>	
			</div>
			<div class="row">
				<label>CRIT</label>
				<input name="data.weapon.crit" type="number" value="{{data.weapon.crit}}" placeholder="crit" min="0" data-dtype="Number"/>
			</div>
			<div class="row">
				<label>RANGE</label>
				<input name="data.weapon.range" type="text" value="{{data.weapon.range}}" placeholder="range" min="0" data-dtype="String"/>
			</div>
			<div class="row">
				<label>PRICE</label>
				<input name="data.weapon.price" type="number" value="{{data.weapon.price}}" placeholder="price" min="0" data-dtype="Number"/>
			</div>
			<div class="row">
				<label>RARITY</label>
				<input name="data.weapon.rarity" type="number" value="{{data.weapon.rarity}}" placeholder="rarity" min="0" data-dtype="Number"/>
			</div>
			<div class="row">
				<label>SPECIAL</label>
				<input name="data.weapon.special" type="text" value="{{data.weapon.special}}" placeholder="special" min="0" data-dtype="String"/>
			</div>
			<div class="row">
				<label>ENCUMBRANCE</label>
				<input name="data.weapon.encumbrance" type="number" value="{{data.weapon.encumbrance}}" placeholder="encumbrance" min="0" data-dtype="Number"/>
			</div>
				<div class="box">
					<label>DESCRIPTION</label>
					<textarea class="desc" rows="4" cols="50" name="data.weapon.description" >{{data.weapon.description}}</textarea>
				</div>
		</div>

	</section>
</form>
